<%= simple_form_for form, html: { class: "space-y-6 bg-white p-6 rounded-lg shadow-md border border-gray-300", multipart: true } do |f| %>
  <div class="flex flex-col space-y-2">
    <h1 class="text-xl">Add New Post</h1>
    <%= f.input :photo, input_html: { class: "block w-full p-3 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500", id: "photoInput", accept: "image/*" }, label_html: { class: "font-semibold text-gray-700" } %>
    <img id="photoPreview" class="mt-4 hidden max-w-xs rounded-lg shadow-md" alt="Image Preview">
  </div>
  
  <div class="flex flex-col space-y-2">
    <%= f.input :caption, input_html: { class: "block w-full p-3 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" }, label_html: { class: "font-semibold text-gray-700" } %>
  </div>
    <%= f.input :user_id, input_html: { class: "hidden", value:current_user.id }, label_html: { class: "hidden" } %>

  
  <div class="flex justify-end">
    <%= f.submit 'Post', class: "px-6 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" %>
  </div>
<% end %>

<!-- Add this JavaScript below the form -->
 <script>
  document.getElementById('photoInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const preview = document.getElementById('photoPreview');
        preview.src = e.target.result;
        preview.classList.remove('hidden');  // Make the preview visible
      };
      reader.readAsDataURL(file);  // Read the file as a Data URL
    }
  });
</script>

